<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Noob Devs" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Noob Devs" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="banner">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <div class="container">
        <%= render 'layouts/banner' %>
      </div>
    </div>
    <main role="main">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>

  </body>
</html>
